<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<p align="center"><a th:href="${'/user/listComments/' + idIncidencia}" th:text="Atrás"></a></p>
	<div class="container">
		<form class="form-horizontal" method="post" th:action="${'/user/addComment/' + idIncidencia}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="texto"
					th:text="Comentario"></label>
				<div class="col-sm-10">
					<textarea type="texto" rows="10" cols="40" class="form-control"
						name="texto"> </textarea>
					
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" id="submit" class="btn btn-primary"
						th:text="Enviar"></button>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
