<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h1 th:text="Incidencias"></h1>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableListIcidencias"
				id="tableListIncidencias">
				<thead>
					<tr>
						<th th:text="Usuario"></th>
						<th th:text="Nombre"></th>
						<th th:text="Descripcion"></th>
						<th th:text="Coordenadas"></th>
						<th th:rowspan="2" >
							<td th:text="Estado">
							</td>
							<td>
							</td>
						</th>
						<th th:text="Comentarios"></th>
						<th th:text="Caducidad"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="inci : ${incidenciasList}">
						<td th:text="${inci.nombreUsuario}"></td>
						<td th:text="${inci.nombre}"></td>
						<td th:text="${inci.descripcion}"></td>
						<td><a
							th:href="${'/user/showMap/' + inci.coordenadas.latitud + '/' + inci.coordenadas.longitud}"
							th:text="${inci.coordenadas.latitud} + ', ' + ${inci.coordenadas.longitud}"></a>
						</td>
						<td>
						<td th:text="${inci.estado}"></td>
						<td><a th:href="${'/user/changeStatus/' + inci.id}"
							th:text="'Cambiar estado'"></a></td>

						</td>
						<td><a th:href="${'/user/listComments/' + inci.id }"
							th:text="'Ver/añadir comentarios'"></a></td>
						<td th:text="${inci.caducidad}"></td>
					</tr>
				</tbody>
			</table>
			<hr />
		</div>
	</div>
	<script th:inline="javascript">
  	  /*<![CDATA[*/
	  	var source = new EventSource("/emitter");
	  	evtSource.onmessage = function(e) {
	  		var incidencia = JSON.parse(e.data);
	  		$("#tableListIncidencias").find('tbody').append( "<tr><td>" + incidencia.nombreUsuario + "</td><td>" + incidencia.nombre + "</td><td>" 
	  				+ incidencia.descripcion + "</td><td>" + incidencia.coordenadas.latitud + "</td><td>" + incidencia.coordenadas.longitud + "</td><td><td>" 
	  				+ incidencia.estado "</td><td><a th:href="${'/user/changeStatus/' + incidencia.id}"th:text="'Cambiar estado'"></a></td></td><td>
	  				+ <a th:href="${'/user/listComments/' + incidencia.id }" th:text="'Ver/añadir comentarios'"></a></td><td> + incidencia.caducidad + </td></tr>" );
	  	}
	  /*]]>*/
  </script> 
</body>
</html>