<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h1 th:text="Incidencias"></h1>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableListIcidencias"
				id="tableListIncidencias">
				<thead>
					<tr>
						<th th:text="Usuario"></th>
						<th th:text="Nombre"></th>
						<th th:text="Descripcion"></th>
						<th th:text="Coordenadas"></th>
						<th th:text="Estado"></th>
						<th th:text="Comentarios"></th>
						<th th:text="Caducidad"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="inci : ${incidenciasList}">
						<td th:text="${inci.nombreUsuario}"></td>
						<td th:text="${inci.nombre}"></td>
						<td th:text="${inci.descripcion}"></td>
						<td><a
							th:href="${'/user/showMap/' + inci.coordenadas.latitud + '/' + inci.coordenadas.longitud}"
							th:text="${inci.coordenadas.latitud} + ', ' + ${inci.coordenadas.longitud}"></a>
						</td>
						<td th:text="${inci.estado}"></td>
						<td><a th:href="${'/user/listComments/' + inci.id }"
							th:text="Comentarios"></a></td>
						<td th:text="${inci.caducidad}"></td>
					</tr>
				</tbody>
			</table>
			<hr />
		</div>
	</div>
</body>
</html>